.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  border-top: 1px solid #090909;
}

.mit-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 5px;
  border-top: 1px solid #090909;
}