<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        table {
            border-collapse: collapse
        }
        td { border-left-color: black;
            border-left-style: solid;
            border-left-width: 1px;
            text-align: center;
            }
    </style>
</head>
<body>
    <h1>Programs</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Program Name</th>
            <th>Description</th>
        </tr>
        {% for program in records %}
        <tr>
            <td>{{ program.id }}</td>
            <td>{{ program.Program }}</td>
            <td>{{ program.Description }}</td>
            <td>
                <form action="/deleteprogram/{{program.id}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-warning">
                </form>
            </td>
            <td>
                <form action="/editprogram/{{program.id}}" method="post">
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
        </tr>
        {% endfor %}
    </table>
    <h1>Add Program</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }}<br>
        {{ form.name(size=80) }}<br>
        {{ form.description.label }}<br>
        {{ form.description(size=80) }}<br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>

    <a href="/">Back to Top</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>