<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Mitigation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>Edit Mitigation</h1>
    <form action="" method="post">
        <label for="description">Description</label><br>
        <input type="text" name="description" id="description" size="80" value="{{ mitigation.description }}" required><br>
        
        <label>Probability</label><br>
        <input type="radio" name="probability" value="1" id="prob1" {% if mitigation.probability == 1 %}checked{% endif %} required>
        <label for="prob1">1</label>
        <input type="radio" name="probability" value="2" id="prob2" {% if mitigation.probability == 2 %}checked{% endif %}>
        <label for="prob2">2</label>
        <input type="radio" name="probability" value="3" id="prob3" {% if mitigation.probability == 3 %}checked{% endif %}>
        <label for="prob3">3</label>
        <input type="radio" name="probability" value="4" id="prob4" {% if mitigation.probability == 4 %}checked{% endif %}>
        <label for="prob4">4</label>
        <input type="radio" name="probability" value="5" id="prob5" {% if mitigation.probability == 5 %}checked{% endif %}>
        <label for="prob5">5</label><br>
        
        <label>Impact</label><br>
        <input type="radio" name="impact" value="1" id="impact1" {% if mitigation.impact == 1 %}checked{% endif %} required>
        <label for="impact1">1</label>
        <input type="radio" name="impact" value="2" id="impact2" {% if mitigation.impact == 2 %}checked{% endif %}>
        <label for="impact2">2</label>
        <input type="radio" name="impact" value="3" id="impact3" {% if mitigation.impact == 3 %}checked{% endif %}>
        <label for="impact3">3</label>
        <input type="radio" name="impact" value="4" id="impact4" {% if mitigation.impact == 4 %}checked{% endif %}>
        <label for="impact4">4</label>
        <input type="radio" name="impact" value="5" id="impact5" {% if mitigation.impact == 5 %}checked{% endif %}>
        <label for="impact5">5</label><br>
        
        <label for="date">Date</label><br>
        <input type="date" name="date" id="date" value="{{ mitigation.date.strftime('%Y-%m-%d') }}" required><br>
        
        <label>Complete?</label><br>
        <input type="radio" name="complete" value="1" id="complete-yes" {% if mitigation.complete == 1 %}checked{% endif %} required>
        <label for="complete-yes">Yes</label>
        <input type="radio" name="complete" value="0" id="complete-no" {% if mitigation.complete == 0 %}checked{% endif %}>
        <label for="complete-no">No</label><br>
        <br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h1>Delete Mitigation</h1>
    <div id="deletemitloc"></div>

    <a href="/">Back to Top</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="module">
        import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";
        let deleteform = d3.select("#deletemitloc")
            .append("form")
            .attr("method", "post")
            .attr("action", "/deletemit/{{ mitigation_id }}");
        deleteform.append("input")
            .attr("type","submit")
            .attr("value","Delete Mitigation")

    </script>
    
</body>
</html>