<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <title>Edit Risk</title>
    <form action="" method="post">
        {{ form.ifstatement.label }}<br>
        {{ form.ifstatement(size=80) }}<br>
        
        {{ form.thenstatement.label }}<br>
        {{ form.thenstatement(size=80) }}<br>
        
        {{ form.probability.label}}<br>
        {% for subfield in form.probability %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
        <br>
        {{ form.impact.label }}<br>
        {% for subfield in form.impact %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <br>
        {{ form.Program.label}}<br>
        {{ form.Program() }}
        <br>
        {{ form.Person.label }}<br>
        {{ form.Person() }}
        <br>
        <label for="date">Date</label>
        <br>
        <input type="date" name="date" id="date" value="{{ risk.date.strftime('%Y-%m-%d') if risk and risk.date else '' }}" required><br>
        <br>
        <label for="realizedate">Realize Date</label><br>
        <input type="date" name="realizedate" id="realizedate" value="{{ risk.realizedate.strftime('%Y-%m-%d') if risk and risk.realizedate else '' }}"><br>
        <br>
        <label for="expiredate">Expire Date</label><br>
        <input type="date" name="expiredate" id="expiredate" value="{{ risk.expiredate.strftime('%Y-%m-%d') if risk and risk.expiredate else '' }}"><br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <a href="/">Back to Top</a>
  
</body>
</html>