<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Risk</title>
    <form action="" method="post">
        {{ form.ifstatement.label }}<br>
        {{ form.ifstatement(size=80) }}<br>
        
        {{ form.thenstatement.label }}<br>
        {{ form.thenstatement(size=80) }}<br>
        
        {{ form.probability.label}}<br>
        {% for subfield in form.probability %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
        <br>
        {{ form.impact.label }}<br>
        {% for subfield in form.impact %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <br>
        
        {{ form.submit() }}

    </form>

  
    </div>
</head>
<body>
    
</body>
</html>