<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Risk Waterfall</h1>
    <div id="riskwaterfall"></div>
    <script type = "module">
        import { plotWaterfall } from '/static/graphics.js';

        fetch(`/riskwaterfalldata/{{ id }}` )
            .then(response => response.json())
            .then(data => {
                console.log(data);
                plotWaterfall(500,"#riskwaterfall",data)
            })




        
    </script>
</body>
</html>